<a href="https://colab.research.google.com/github/tanupat085/SuperAi/blob/main/22p21s0047_tanupat_w2_hw2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kora

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
from kora import pd

# **Explore Data**

In [ ]:
train = pd.read_csv('train.csv', index_col=['PassengerId'])
train.head()

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S

[5 rows x 11 columns]

In [ ]:
test = pd.read_csv('test.csv', index_col=['PassengerId'])
test.head()

             Pclass  ... Embarked
PassengerId          ...
892               3  ...        Q
893               3  ...        S
894               2  ...        Q
895               3  ...        S
896               3  ...        S

[5 rows x 10 columns]

**ไม่ใช่ข้อมูลใน test.csv เพราะไม่มี col Survived**

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [ ]:
cols = ['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
df = train[cols]
df.head()

             Survived  Pclass   Age  SibSp  Parch     Fare
PassengerId
1                   0       3  22.0      1      0   7.2500
2                   1       1  38.0      1      0  71.2833
3                   1       3  26.0      0      0   7.9250
4                   1       1  35.0      1      0  53.1000
5                   0       3  35.0      0      0   8.0500

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Age       714 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 48.7 KB

In [ ]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 1 to 891
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Pclass    714 non-null    int64
 2   Age       714 non-null    float64
 3   SibSp     714 non-null    int64
 4   Parch     714 non-null    int64
 5   Fare      714 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 39.0 KB

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_X = df.drop(columns=['Survived'])
df_y = df['Survived']

# **K-Fold cross validation**

In [ ]:
from sklearn.model_selection import KFold
import numpy as np
kf = KFold(n_splits=5)
kf

KFold(n_splits=5, random_state=None, shuffle=False)

In [ ]:
X_train = []
y_train = []
X_test = []
y_test = []

for train_index, test_index in kf.split(df_y):
  print(train_index, test_index)
  X_train.append(df_X.iloc[train_index])
  y_train.append(df_y.iloc[train_index])
  # X_train = pd.concat( [X_train, df_X.iloc[train_index]])
  # y_train = pd.concat( [y_train, df_y.iloc[train_index]])

  X_test.append(df_X.iloc[test_index])
  y_test.append(df_y.iloc[test_index])
  # X_test = pd.concat( [X_test, df_X.iloc[test_index]])
  # y_test = pd.concat( [y_test, df_y.iloc[test_index]])
  print('----------------------------------------------')

# **Testing Model**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
# test model
recall = []
precision = []
f1 = []
for i in range(len(X_train)):
  model = DecisionTreeClassifier()
  model.fit(X_train[i], y_train[i])
  y_hat = model.predict(X_test[i])
  precision.append(precision_score(y_test[i], y_hat))
  recall.append(recall_score(y_test[i], y_hat))
  f1.append(f1_score(y_test[i], y_hat))

In [ ]:
recall

[0.5555555555555556, 0.5076923076923077, 0.59375, 0.5166666666666667, 0.5]

In [ ]:
precision

[0.43103448275862066,
 0.5689655172413793,
 0.6333333333333333,
 0.5740740740740741,
 0.56]

In [ ]:
f1

[0.4854368932038835,
 0.5365853658536585,
 0.6129032258064516,
 0.543859649122807,
 0.5283018867924528]

In [ ]:
sum(f1) / len(f1)

0.5414174041558506

# **Real Model**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import recall_score, precision_score, f1_score
from sklearn.neural_network import MLPClassifier

In [ ]:
def my_evalute(model):
  recall = []
  precision = []
  f1 = []
  for i in range(len(X_train)):
    clf = model
    clf.fit(X_train[i], y_train[i]);
    y_hat = clf.predict(X_test[i])
    precision.append(precision_score(y_test[i], y_hat))
    recall.append(recall_score(y_test[i], y_hat))
    f1.append(f1_score(y_test[i], y_hat))
  return recall, precision, f1

In [ ]:
def set_table(recall, precision, f1, modelname):
  table = {}
  for i in range(5):
    l = [recall[i], precision[i], f1[i]]
    table[i + 1] = list(l)
  
  df = pd.DataFrame(table,).rename(index={0:"Recall",1:"Precision",2:"F1"}).T
  print(f"{modelname} \n")
  print("Average F-1: " , sum(f1) / len(f1))
  print("------------------------------------------------")
  return df

In [ ]:
model = DecisionTreeClassifier()
recall, precision, f1 = my_evalute(model)

set_table(recall, precision, f1, "DecisionTree Classifier")

DecisionTree Classifier

Average F-1:  0.5371808653806941
------------------------------------------------

     Recall  Precision        F1
1  0.533333   0.444444  0.484848
2  0.523077   0.576271  0.548387
3  0.562500   0.600000  0.580645
4  0.483333   0.568627  0.522523
5  0.535714   0.576923  0.555556

In [ ]:
model = GaussianNB()
recall, precision, f1 = my_evalute(model)

set_table(recall, precision, f1, "Naïve Bayes")

Naïve Bayes

Average F-1:  0.4775445147196281
------------------------------------------------

     Recall  Precision        F1
1  0.533333   0.444444  0.484848
2  0.523077   0.576271  0.548387
3  0.562500   0.600000  0.580645
4  0.483333   0.568627  0.522523
5  0.535714   0.576923  0.555556

In [ ]:
model = MLPClassifier()
recall, precision, f1 = my_evalute(model)

print("\n")
set_table(recall, precision, f1, "Neural Network")

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

Neural Network

Average F-1:  0.5806623052640973
------------------------------------------------

     Recall  Precision        F1
1  0.533333   0.444444  0.484848
2  0.523077   0.576271  0.548387
3  0.562500   0.600000  0.580645
4  0.483333   0.568627  0.522523
5  0.535714   0.576923  0.555556