<a href="https://colab.research.google.com/github/tanupat085/SuperAi/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![img](https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg)

tanupat satitvattana

Facebook : [tan aod](https://www.facebook.com/tanupat.satitvattana/)


## python programming

### python variable

ex5 python line structure

In [1]:
name = "python programming" #string
qty = 9 #unteger
value = 9000.89 #floating point
print(name)
print(qty)
print(value)

python programming
9
9000.89

ex6 multiple assignment

In [2]:
x = y = z = 9
print(x)
print(y)
print(z)
print(x,y,z)

9
9
9
9 9 9

ex next global variable python

In [3]:
var1 = "js"
def func():
  var1 = "python"
  print("js is better than > ", var1)

def func2():
  print("hi")

func()

js is better than >  python

ex next gloval var

In [4]:
def func():
  global var1 
  var1 = "java"
  print(var1)

def func2():
  print(var1)

func()
func2()

java
java

### python syntax
ex1 1 python line structure

In [5]:
x = 0
if x >=  1:
  print(x)
else :
  print("x is not defined")

x is not defined

ex2 comments in python

In [6]:
#x = 0
if x >=  1:
  print(x)
else :
  '''print("x is not defined")
  print("hi hi")
  print("test")'''
  # print("x is not defined")
  # print("hi hi")
  # print("test")
  print("emp")

emp

ex3 joining two lines

In [7]:
a = 0
b = 1
c = 2
d = 3
f = 5
if a == 0 and b == 1 \
  and c == 2 and d ==3 :
    print("joining")

joining

ex4 indentation

In [8]:
x = 2
if x == 1 :
  print("hi")
else:
  print("smile")
  print("a single space")

smile
a single space

ex5